<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>개인 배팅 검색 • 화오게 승률</title>
    <meta name="description" content="화오게 개인 배팅 검색 페이지">

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.conditional.min.css"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>
    <!-- Header -->
    <header class="container">
      <div class="pico">

      <nav>
        <ul>
          <!-- 폴더별 랭킹 페이지로 이동 -->
          <li><a href="{{ url_for('routes.board_page', folder=folder_name, page='ranking') }}">월간/일간 랭킹</a></li>
          <!-- 같은 폴더의 개인검색 페이지로 이동 -->
          <li><a href="{{ url_for('routes.board_page', folder=folder_name, page=folder_name) }}" aria-current="page">개인배팅 검색</a></li>
          <li><a href="{{ url_for('routes.index', back=folder_name) }}" aria-current="page">전체개인배팅 검색</a></li>
        </ul>
        <ul>
          <li><a href="#" data-theme-switcher="light">Light</a></li>
          <li><a href="#" data-theme-switcher="dark">Dark</a></li>
        </ul>
      </nav>
      </div>
    </header>
      

    <!-- ./ Header -->

    <!-- Main -->
    <main class="container">
      <section class="pico">
        <h1>화오게 개인배팅 기록 검색</h1>
        <p>🔊 양방은 순수익만 적용 (총 배팅액, 승률 적용x) / 닉변시 통계따로</p>

        <form id="searchForm">
          <div class="grid">
            <select name="select" aria-label="검색 유형" required>
              <option selected>월간 배팅</option>
              <option>일간 배팅</option>
            </select>
          </div>

          <input
            type="text"
            id="nickname"
            name="nickname"
            placeholder="닉네임 공백까지 정확해야함"
            aria-label="닉네임"
            required
          >

          <fieldset>
            <div class="grid">
              <label for="startDate">
                시작 날짜
                <input type="month" id="startDate" name="startDate">
              </label>
              <label for="endDate">
                종료 날짜
                <input type="month" id="endDate" name="endDate">
              </label>
            </div>
          </fieldset>

          <button type="submit" id="searchBtn" class="primary">검색</button>
        </form>

        <div id="results"></div>
      </section>
    </main>

    <!-- Scripts -->
    <script>window.BOARD_SLUG = "{{ board_slug }}";</script>
    <script src="{{ url_for('static', filename='js/minimal-theme-switcher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
