<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>전체와토 배팅 검색 • 세트카 승률</title>
    <meta name="description" content="세트카 개인 배팅 검색 페이지">

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.conditional.min.css"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>
    <!-- Header -->
    <header class="container">
      <div class="pico">
        {% set back = request.args.get('back') %}
        <nav>
          <ul>
            <li>
              <a href="{{ url_for('routes.ranking', back=back) if back else url_for('routes.ranking') }}">
                전체월간/일간 랭킹
              </a>
            </li>
            <li>
              <a href="{{ url_for('routes.index', back=back) if back else url_for('routes.index') }}" aria-current="page">
                전체개인배팅 검색
              </a>
            </li>
            {% if back %}
            <li>
              <a href="{{ url_for('routes.board_page', folder=back, page=back) }}">돌아가기</a>
            </li>
             {% endif %}

          </ul>
          <ul>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Main -->
    <main class="container">
      <section class="pico">
        <h1>전체와토 개인배팅 기록 검색</h1>
        <p>현재는 세트카 + 화오게 + 스방</p>
        <p>🔊 당일기록 오전05:00 업데이트(00:00~05:00 경기 전일 기준합산)</p>
        <p>🔊 양방은 순수익만 적용 (총 배팅액, 승률 적용x) / 닉변시 통계따로</p>

        <form id="searchForm">
          <div class="grid">
            <select name="select" aria-label="검색 유형" required>
              <option selected>월간 배팅</option>
              <option>일간 배팅</option>
            </select>
          </div>

          <input
            type="text"
            id="nickname"
            name="nickname"
            placeholder="닉네임 공백까지 정확해야함"
            aria-label="닉네임"
            required
          >

          <fieldset>
            <div class="grid">
              <label for="startDate">
                시작 날짜
                <input type="month" id="startDate" name="startDate">
              </label>
              <label for="endDate">
                종료 날짜
                <input type="month" id="endDate" name="endDate">
              </label>
            </div>
          </fieldset>

            <button type="submit" id="searchBtn" class="primary">검색</button>
        </form>

        <div id="results"></div>
      </section>
    </main>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/minimal-theme-switcher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
